<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="JsonDB Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_DRIVER" value="" />
        <env name="DB_HOST" value="" />
        <env name="DB_PORT" value="" />
        <env name="DB_DATABASE" value="" />
        <env name="DB_USERNAME" value="" />
        <env name="DB_PASSWORD" value="" />
        <env name="DB_CHARSET" value="" />
        <env name="DB_COLLATION" value="" />
    </php>
</phpunit>